<p>
  For <a href='/images/4for4/four_4_four-mac.jpg'>mac</a> or <span><a href='/images/4for4/4for4.jpg'>pc</a></span>.

  <br />
  <br />

  <img src='/images/4for4/4for4_preview.jpg' alt='Philly 4 Desktop Preview' />
</p>
