<div class="container">
  <div class="fifteen columns offset-by-one">
    <h2>About Me</h2>
    <p>I am a programmer focusing on database, java, and ruby development. I am also a <a href='4for4'>4 for 4</a> fan.</p>

    <h2>Projects</h2>
      <ul>
        <li><a href="http://ebot.github.com/sql-server/">sql-server</a> – Fast and easy Microsoft Sql Server querying with ruby on Windows.</li>
      </ul>

      <h2>Stuff I Built</h2>

      <ul>
        <li><a href="http://flyers.edbotz.us">Flyers All Time Roster</a> – My Answer to the quetion, “who wore number …?”</li>
        <li><a href="http://stan.edbotz.us">Stanley’s Summer Adventure</a> – Chronicle of Flat Stanley’s summer visit with us.</li>
        <li><a href="http://flickrbone.edbotz.us/">Flickrbone</a> – How I taught myself node, express, and backbone.</li>
        <li><a href="http://isitxmas.edbotz.us/">IsItXmas?</a> – The answer to my daughter's daily question from 11/25 - 12/25.</li>
      </ul>
  </div>
</div>
