<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

  <!-- Basic Page Needs
  ================================================== -->
  <meta charset="utf-8">
  <title>{{title}}</title>
  <meta name="description" content="The personal web site of Ed Botzum">
  <meta name="author" content="Ed Botzum">

  <!-- Mobile Specific Metas
  ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- CSS
  ================================================== -->
  <link rel="stylesheet" href="/stylesheets/base.css">
  <link rel="stylesheet" href="/stylesheets/app.css">
  <link rel="stylesheet" href="/stylesheets/skeleton.css">
  <link rel="stylesheet" href="/stylesheets/layout.css">

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Favicons
  ================================================== -->
  <link rel="shortcut icon" href="/images/favicon.ico">
  <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-114x114.png">

</head>
<body>
  <header id="page_header">
  <div class="container">
    <div class="sixteen columns">
      <div class="row">
        <div class="seven columns alpha">
          <div class="two columns offset-by-three alpha">
            <p><a href="http://github.com/ebot">code</a></p>
          </div>
          <div class="two columns omega">
            <p><a href="http://twitter.com/ebot">twitter</a></p>
          </div>
        </div>

        <div id="header_logo" class="two columns">
          <a href="/">
            <img src="images/edbotz_logo.png" alt="keystone_site_logo">
          </a>
        </div>

        <div class="seven columns omega">
          <div class="two columns alpha">
            <p><a href="http://flickr.com/ebot">flickr</a></p>
          </div>
          <div class="two columns omega">
            <p>
              <script>
                document.write("<n uers=\"znvygb:pbagnpg\100rqobgm\056hf\">rznvy<\057n>".replace(/[a-zA-Z]/g, function(c){return String.fromCharCode((c<="Z"?90:122)>=(c=c.charCodeAt(0)+13)?c:c-26);}));
              </script>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </header>

  <header id="iphone_header">
  <div>
    <a href="http://github.com/ebot">code</a>
    <a href="http://twitter.com/ebot">twitter</a>
    <span class="spacer"></span>
    <a href="http://flickr.com/ebot">flickr</a>
    <script>
      document.write("<n uers=\"znvygb:pbagnpg\100rqobgm\056hf\">rznvy<\057n>".replace(/[a-zA-Z]/g, function(c){return String.fromCharCode((c<="Z"?90:122)>=(c=c.charCodeAt(0)+13)?c:c-26);}));
    </script>
  </div>
  <a href="/"><img id="iphone_logo" src="images/edbotz_logo.png" alt="keystone_site_logo"></a>
  </header>

  <div id="page_content">
    <div class="container">
      <div class="sixteen columns">
        {{{body}}}
      </div>
    </div>
  </div>

  <footer>
    <div id="page_footer">
      <div class="container">
        <div class="two columns">
          <img src="images/keystone_shadow.png" width="75px" height="75px" alt="keystone shadow" />
        </div>
        <div class="ten columns footer_text">
          Built by Ed Botzum <br />
          Crafting code since 1998
        </div>
        <div class="four columns footer_text">
          Version 3.0 ~ Est 2012<br />
          Previous Versions: <a href="http://www.flickr.com/photos/ebot/8167716204">2.0</a>
        </div>
      </div>
    </div>
  </footer>

  <!-- JS
  ================================================== -->
  <script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
  <script src="javascripts/tabs.js"></script>

<!-- End Document
================================================== -->
</body>
</html>
