<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Merry Christmas 2012!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Botzum 2012 Christmas Card">
    <meta name="author" content="K-Lou">

    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
      body, html { padding: 0; margin: 0; }

      .color { margin: 0; padding: 5px 0 5px 0; }
      .red { background: #990900 url('/images/noise.png'); color: white; }
      .yellow { background: #FFFF99 url('/images/noise.png'); color: black; }
      .brown { background: #996633 url('/images/noise.png'); }
      .green { background: #336633 url('/images/noise.png'); color: white }
      .green a, .brown a { color: #FFFFFF; }
      .green a:hover, .brown a:hover { color: #CCCCCC; }

      .container-narrow {
        margin: 0 auto;
        max-width: 700px;
      }

      .movie {
        padding: 20px 2px 0 2px;
        margin: 60px 0;
        text-align: center;
      }
      .movie h1 {
        font-size: 72px;
        line-height: 1;
        display: inline-block;
        width: 100%;
      }

      .list-container {
        text-align: center;
        padding: 10px 8px 20px 8px;
      }
      .list-container p { padding-bottom: 12px; }

      .list {
        text-align: center;
      }
      .list ol {
        display: inline-block;
        text-align: left;
      }
      .list li {
        margin-top: 6px;
      }

      #pictures {
        text-align: center;
        clear: both;
      }
      #pictures ul { 
        display: inline-block;
        margin: 0 30px auto;
      }

      .picture {
        float: left;
        list-style:none;
        max-width: 180px;
        padding: 15px;
        height: 250px;
      }

      .footer {
        padding: 20px 8px 40px 8px;
      }

      .rotate-right {
        /*General*/
        transform: rotate(5deg);
        /*Firefox*/
        -moz-transform: rotate(5deg);
        /*Microsoft Internet Explorer*/
        -ms-transform: rotate(5deg);
        /*Chrome, Safari*/
        -webkit-transform: rotate(5deg);
        /*Opera*/
        -o-transform: rotate(5deg);
      }
      .rotate-left {
        /*General*/
        transform: rotate(-5deg);
        /*Firefox*/
        -moz-transform: rotate(-5deg);
        /*Microsoft Internet Explorer*/
        -ms-transform: rotate(-5deg);
        /*Chrome, Safari*/
        -webkit-transform: rotate(-5deg);
        /*Opera*/
        -o-transform: rotate(-5deg);
      }

      /** Fix the polaroid frames on iPhones **/
      @media only screen and (min-width: 480px) and (max-width: 767px),
      only screen and (max-width: 479px) {
        #decoration {
          display: none;
        }

        .picture {
          max-width: 300px;
          height: 100%;
          float: none;
        }

        .list_container p {
          text-align: left;
        }

        #pictures h3 {
          line-height: 1;
          display: inline-block;
          width: 100%;
        }
      }

    </style>
    <link href="/stylesheets/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="/images/xmas_tree/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/xmas_tree/144.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/xmas_tree/114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/xmas_tree/72.png">
    <link rel="apple-touch-icon-precomposed" href="/images/xmas_tree/57.png">
  </head>

  <body class="color red">
      <div class="movie">
        <div class="container-narrow">
          <h1>Happy Christmas!</h1>
          <br />
          <br />
          <iframe width="640" height="360" src="http://www.youtube.com/embed/h4EK2bskN3M?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>

      <div class="color green list-container">

        <div class="container-narrow">
          <h3>Our Top Five Videos</h3>
          <p>We wasted many hours watching videos, but these are our top five videos of 2012.</p>

          <div class="row-fluid">
            <div id="decoration" class="span3 rotate-left">
              <img class="img-rounded" src="http://farm9.staticflickr.com/8316/8023538289_43c779ca55.jpg" />
              <p><small>K-Wow in Disney</small></p>
            </div>

            <div class="span6 list">
              <ol>
                <li><a href="https://www.youtube.com/watch?feature=player_detailpage&v=WA4iX5D9Z64">Taylor Swift - Never Getting Back Together</a></li>
                <li><a href="https://www.youtube.com/watch?list=FLdRZMPbNDDL7MZWET3fk5Ig&feature=player_detailpage&v=Z447qc4ZRRA">We Are Never Ever Gunna Win With Andy</a></li>
                <li><a href="https://www.youtube.com/watch?feature=player_detailpage&v=R4em3LKQCAQ">Justin Bieber - As Long as You Love Me</a></li>
                <li><a href="https://www.youtube.com/watch?feature=player_detailpage&v=-qTIGg3I5y8&list=FLdRZMPbNDDL7MZWET3fk5Ig">Cookie Monster - Share It Maybe</a></li>
                <li><a href="https://www.youtube.com/watch?feature=player_detailpage&v=-qTIGg3I5y8&list=FLdRZMPbNDDL7MZWET3fk5Ig">Hot Cheetos & Takis</a></li>
              </ol>
            </div>

            <div id="decoration" class="span3 rotate-right">
              <img class="img-rounded" src="http://farm9.staticflickr.com/8490/8204676650_9d12d9d87b.jpg" />
              <p><small>Little Turkey</small></p>
            </div>
          </div>

          <hr />

          <h3>Our Top Five Web Sites</h3>
          <p>We had the most fun this year wasting time on these web sites in 2012.</p>

          <div class="row-fluid">
            <div id="decoration" class="span3 rotate-left">
              <img class="img-rounded" src="http://farm9.staticflickr.com/8311/7946399526_134a05a807.jpg" />
              <p><small>Venus &amp; Serena</small></p>
            </div>

            <div class="span6 list">
              <ol>
                <li><a href="http://www.jibjab.com/">Jib Jab</a></li>
                <li><a href="http://www.lego.com/">Lego</a></li>
                <li><a href="http://www.barbie.com/">Barbie</a></li>
                <li><a href="http://www.sesamestreet.org/games">Sesame Street Games</a></li>
                <li><a href="http://video.disney.com/shows/wheres-my-water-4c886a2dc7577196f90dc16c">Swampy's Underground Adventures</a></li>
              </ol>
            </div>

            <div id="decoration" class="span3 rotate-right">
              <img class="img-rounded" src="http://farm9.staticflickr.com/8306/7834994614_a4e3ac9702.jpg" />
              <p><small>Hangin at the Fair</small></p>
            </div>
          </div>
        </div>

      </div>

      <div id="pictures" class="color yellow">
        <div class="container-narrow">

          <h3>Our Favorite Memories of 2012</h3>
          <p>We did lots of fun this year, but a few moments really stand out.</p>

          <ul>
            <li class="picture">
              <img class="img-polaroid" src="http://farm9.staticflickr.com/8202/8233717444_46b969cc37.jpg" />
              <p><small>The 2012 Philadelphia Thanksgiving Day Parade.</small></p>
            </li>

            <li class="picture">
              <img class="img-polaroid" src="http://farm9.staticflickr.com/8322/8045539654_96c858e438.jpg" />
              <p><small>Lindsey in Disney World</small></p>
            </li>

            <li class="picture">
              <img class="img-polaroid" src="http://farm9.staticflickr.com/8458/8045532281_55fc70ea69.jpg" />
              <p><small>Kayla &amp; Mom at Disney World</small></p>
            </li>

            <li class="picture">
              <img class="img-polaroid" src="http://farm9.staticflickr.com/8302/7762834148_2e1eb8c6a2.jpg" />
              <p><small>Cape May</small></p>
            </li>

            <li class="picture">
              <img class="img-polaroid" src="http://farm9.staticflickr.com/8066/8232604935_6e299df7ba.jpg" />
              <p><small>Hiking the McKaig trail</small></p>
            </li>

            <li class="picture">
              <img class="img-polaroid" src="http://farm8.staticflickr.com/7094/7346188480_e2d682c4b2.jpg" />
              <p><small>First Holy Communion</small></p>
            </li>

            <li class="picture">
              <img class="img-polaroid" src="http://farm8.staticflickr.com/7232/7339807258_0a119d2902.jpg" />
              <p><small>Cancun</small></p>
              </li>

            <li class="picture">
              <img class="img-polaroid" src="http://farm9.staticflickr.com/8171/8045519311_e73aea1c01.jpg" />
              <p><small>Magic Carpet Ride</small></p>
              </li>

            <li class="picture">
              <img class="img-polaroid" src="http://farm8.staticflickr.com/7221/7234845940_24f12bb10a.jpg" />
              <p><small>First Game of the Season</small></p>
              </li>

            <li class="picture">
              <img class="img-polaroid" src="http://farm9.staticflickr.com/8317/8045531296_bf1962e583.jpg" />
              <p><small>Fort Wilderness</small></p>
              </li>

            <li class="picture">
              <img class="img-polaroid" src="http://farm9.staticflickr.com/8171/8045519252_f8ea879159.jpg" />
              <p><small>Main Street USA</small></p>
              </li>

            <li class="picture">
              <img class="img-polaroid" src="http://farm6.staticflickr.com/5321/7053281821_fb60ca0da4.jpg" />
              <p><small>The Jersey Shore</small></p>
              </li>

            <li class="picture">
              <img class="img-polaroid" src="http://farm9.staticflickr.com/8456/8045540904_3dd0958074.jpg" />
              <p><small>Meeting Duffy</small></p>
              </li>

            <li class="picture">
              <img class="img-polaroid" src="http://farm9.staticflickr.com/8326/8106802361_de98826d4c.jpg" />
              <p><small>The Beach</small></p>
              </li>

            <li class="picture">
              <img class="img-polaroid" src="http://farm9.staticflickr.com/8173/8045542950_08a60ce517.jpg" />
              <p><small>World Travlers</small></p>
              </li>

            <li class="picture">
              <img class="img-polaroid" src="http://farm8.staticflickr.com/7239/7160977717_1ed21b17db.jpg" />
              <p><small>First Holy Communion</small></p>
              </li>

            <li class="picture">
              <img class="img-polaroid" src="http://farm9.staticflickr.com/8036/8045530483_ca637eedec.jpg" />
              <p><small>Spooky Castle</small></p>
              </li>

            <li class="picture">
              <img class="img-polaroid" src="http://farm9.staticflickr.com/8031/8045528722_081ce41264.jpg" />
              <p><small>Splashdown</small></p>
              </li>

            <li class="picture">
              <img class="img-polaroid" src="http://farm9.staticflickr.com/8182/8045527653_38c88159f1.jpg" />
              <p><small>Trick or Treat</small></p>
              </li>

            <li class="picture">
              <img class="img-polaroid" src="http://farm9.staticflickr.com/8454/8045530794_fb8a6afe96.jpg" />
              <p><small>Swimmers</small></p>
              </li>

            <li class="picture">
              <img class="img-polaroid" src="http://farm9.staticflickr.com/8318/8045522010_1e7881f000.jpg" />
              <p><small>Meeting Eeyore</small></p>
              </li>

            <li class="picture">
              <img class="img-polaroid" src="http://farm9.staticflickr.com/8037/8045520116_d92c1f8818.jpg" />
              <p><small>The Happiest Place on Earth</small></p>
            </li>

            <li class="picture">
              <img class="img-polaroid" src="http://farm9.staticflickr.com/8197/8233649840_fb765467ce.jpg" />
              <p><small>First Day of School</small></p>
            </li>

            <li class="picture">
              <img class="img-polaroid" src="http://farm9.staticflickr.com/8165/7148197225_9d6ab7ef4a.jpg" />
              <p><small>Silly Faces</small></p>
            </li>

          </ul>

        </div>
      </div>

      <div class="color brown footer">
        <div class="container-narrow">
          <p>&copy; KayLou Designs 2012</p>
          <p>Graciously hosted by <a href='/'>Dad</a> and built with help from the following tools:</p>
          <ul>
            <li><a href="http://twitter.github.com/bootstrap/">Twitter Bootstrap</a></li>
            <li><a href="http://www.gettyicons.com/free-icon/101/christmas-icon-set/">Icon Shock Christmas Set</a></li>
          </ul>
        </div>
      </div>

      <script src="/javascripts/jquery-1.8.3.min.js"></script>
      <script src="/javascripts/jquery.fitvids.js"></script>
      <script src="/javascripts/jquery.fittext.js"></script>
      <script>
        $(document).ready(function(){
          // Target your .container, .wrapper, .post, etc.
          $(".movie").fitVids();
          $(".movie h1").fitText();

          if(navigator.userAgent.match(/iPhone/i)) {
            $("#pictures h3").fitText();
          }

          $("body").css( 'padding', '0' ); // Overide Bootstrap
        });
      </script>
    </div> <!-- /container -->
  </body>
</html>
