<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Happy Christmas 2013!</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Botzum 2013 Christmas Card">
    <meta name="author" content="K-Lou">
    <!-- Bootstrap -->
    <link href="/xmas-2013/css/bootstrap.min.css" rel="stylesheet">
    <link href="/xmas-2013/css/style.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="icon" type="image/png" href="/xmas-2013/images/gift_box/favicon.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/xmas-2013/images/gift_box/144.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/xmas-2013/images/gift_box/114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/xmas-2013/images/gift_box/72.png">
    <link rel="apple-touch-icon-precomposed" href="/xmas-2013/images/gift_box/57.png">
  </head>

  <body>
    <div class="container">
      <header class="page-header">
        <h1>❄ Merry Christmas to Our Friends &amp; Family ❄</h1>
      </header>

      <div class="row list movie">
        <section class="col-md-8">
          <iframe width="504" height="378" src="http://www.youtube.com/embed/Ny6EBaCgAsQ" frameborder="0" allowfullscreen></iframe>
        </section>

        <section class="col-md-4 top-5 list">
          <div>
            <h3>Our Favorite Videos of 2013</h3>
            <ol>
              <li><a href="https://www.youtube.com/watch?v=jofNR_WkoCE">What Does the Fox Say?</a></li>
              <li><a href="https://www.youtube.com/watch?v=CevxZvSJLk8">Katy Perry - Roar</a></li>
              <li><a href="https://www.youtube.com/watch?v=AgFeZr5ptV8">Twenty Two - Taylor Swift</a></li>
              <li><a href="https://www.youtube.com/watch?v=I03UmJbK0lA">Ship My Pants</a></li>
              <li><a href="https://www.youtube.com/watch?v=kWBhP0EQ1lA">Hump Day</a></li>
            </ol>
          </div>
          <p>&nbsp;</p>
          <div>
            <h3>Our Favorite Web Sites of 2013</h3>
            <ol id="web_sites">
              <li><a href="http://www.popstaronline.com/">PopStar</a></li>
              <li><a href="http://disney.com">Disney</a></li>
              <li><a href="http://scratch.mit.edu/">Scratch</a></li>
              <li><a href="http://www.brainpopjr.com/">BrainPop Jr.</a></li>
              <li><a href="http://www.barbie.com/">Barbie</a></li>
            </ol>
        </div>
        </section>
      </div>

      <section id="photo_album">
        <h2>Our Favorite Moments of 2013</h2>
        <p>These are some of our favorite things about 2013!</p>
      </section>
    </div>

    <footer>
      <div class="container">
        <h3>Roll the Credits</h3>
        <ul>
          <li>Artists - Kayla and Lindsey</li>
          <li>Writers - Kayla and Lindsey</li>
          <li>Director - Dad</li>
        </ul>

        <h3>Special Thanks</h3>
        <ul>
          <li><a href="http://www.gettyicons.com/free-icon/119/christmas-icon-set/free-present-icon-png/">Deleket Christmas XP</a></li>
          <li><a href="http://getbootstrap.com/">Bootstrap</a></li>
        </ul>
      </div>
    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/xmas-2013/js/bootstrap.min.js"></script>
    <script src="/javascripts/jquery.fitvids.js"></script>
    <script src="/javascripts/jquery.fittext.js"></script>
    <script src="/xmas-2013/js/underscore-min.js"></script>
    <script src="/xmas-2013/js/handlebars-runtime.js"></script>
    <script src="/xmas-2013/js/photo.tmpl.js"></script>
    <script src="/xmas-2013/js/xmas_card.js"></script>
  </body>
</html>
