<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Happy Christmas 2013!</title>


    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Botzum 2013 Christmas Card">
    <meta name="author" content="K-Lou">
    <!-- Bootstrap -->
    <link href="/xmas-2013/css/bootstrap.min.css" rel="stylesheet">
    <link href="/xmas-2013/css/style.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="icon" type="image/png" href="/xmas-2013/images/gift_box/favicon.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/xmas-2013/images/gift_box/144.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/xmas-2013/images/gift_box/114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/xmas-2013/images/gift_box/72.png">
    <link rel="apple-touch-icon-precomposed" href="/xmas-2013/images/gift_box/57.png">
  </head>

  <body>
    <div class="container">
      <header class="page-header">
        <h1>☸ Merry Christmas to Our Friends &amp; Family ☸</h1>
      </header>

      <div class="row">
        <section class="col-md-8">
          <img id="dad" src="/xmas-2013/images/xmas_card/dad_small.png" class="hidden" />
          <img id="kayla" src="/xmas-2013/images/xmas_card/kayla_small.png" class="hidden" />
          <img id="lindsey" src="/xmas-2013/images/xmas_card/lindsey_small.png" class="hidden" />
          <img id="mom" src="/xmas-2013/images/xmas_card/mom_small.png" class="hidden" />
          <canvas id="xmas-card" height="400" width="600" style="position:relative;top:-50">
           Your browser does not support html5 canvas so you cannot see our Christmas card, but Merry Christmas to you.
          </canvas>
        </section>

        <section class="col-md-4 top-5 list">
          <h3>Our Favorite Videos</h3>
          <ol>
            <li><a href="https://www.youtube.com/watch?v=jofNR_WkoCE">What Does the Fox Say?</a></li>
            <li><a href="https://www.youtube.com/watch?v=CevxZvSJLk8">Katy Perry - Roar</a></li>
            <li><a href="https://www.youtube.com/watch?v=AgFeZr5ptV8">Twenty Two - Taylor Swift</a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
          </ol>

          <h3>Our Favorite Web Sites</h3>
          <ol id="web_sites">
            <li><a href="http://www.popstaronline.com/">PopStar</a></li>
            <li><a href="http://disney.com">Disney</a></li>
            <li></li>
            <li></li>
            <li></li>
          </ol>
        </section>
      </div>

      <section id="photo_album">
        <h2>Our Favorite Moments of 2013</h2>
        <p>These are some of our favorite things about 2013!</p>

        <div class="row">

          <div class="col-sm-5 col-md-4">
            <div class="thumbnail">
              <img src="https://farm8.staticflickr.com/7333/10970456174_3411c2cf43_n.jpg" alt="Utley's First Trip to the Beach">
              <div class="caption">
                <h3>Utley Visits the Beach</h3>
                <p>Utley visits the Jersey shore for the first time.</p>
              </div>
            </div>
          </div>

          <div class="col-sm-5 col-md-4">
            <div class="thumbnail">
              <img src="https://farm3.staticflickr.com/2819/10600173686_4ce1fcd85b_n.jpg" alt="OUr Pumpkins">
              <div class="caption">
                <h3>Halloween Pumpkins</h3>
                <p>We had a lot of fun carving pumpkins for Halloween.</p>
              </div>
            </div>
          </div>

          <div class="col-sm-5 col-md-4">
            <div class="thumbnail">
              <img src="https://farm4.staticflickr.com/3817/10528642356_7ffa62164c_n.jpg" alt="Skyline Drive">
              <div class="caption">
                <h3>Skyline Drive</h3>
                <p>We had a lot of fun hiking Shenandoah National Park this fall.</p>
              </div>
            </div>
          </div>

        </div>

        <!--<div class="row">
          <div class="col-sm-5 col-md-4">
            <div class="thumbnail">
              <img src="" alt="">
              <div class="caption">
                <h3></h3>
                <p></p>
              </div>
            </div>
          </div>

          <div class="col-sm-5 col-md-4">
            <div class="thumbnail">
              <img src="" alt="">
              <div class="caption">
                <h3></h3>
                <p></p>
              </div>
            </div>
          </div>

          <div class="col-sm-5 col-md-4">
            <div class="thumbnail">
              <img src="" alt="">
              <div class="caption">
                <h3></h3>
                <p></p>
              </div>
            </div>
          </div>
        </div>-->
      </section>
    </div>

    <footer>
      <div class="container">
        <h3>Roll the Credits</h3>
        <ul>
          <li>Artists - Kayla and Lindsey</li>
          <li>Writers - Kayla and Lindsey</li>
          <li>Director - Dad</li>
        </ul>

        <h3>Specieal Thanks</h3>
        <ul>
          <li><a href="http://www.gettyicons.com/free-icon/119/christmas-icon-set/free-present-icon-png/">Deleket Christmas XP</a></li>
          <li><a href="http://getbootstrap.com/">Bootstrap</a></li>
        </ul>
      </div>
    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/xmas-2013/js/bootstrap.min.js"></script>
    <script src="/xmas-2013/js/xmas_card.js"></script>
  </body>
</html>
