<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Merry Christmas 2012!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Botzum 2012 Christmas Card">
    <meta name="author" content="K-Lou">

    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
      body, html { padding: 0; margin: 0 }

      .color { margin: 0; padding: 5px; }
      .red { background: #990900 url('/images/noise.png'); color: white; }
      .yellow { background: #FFFF99 url('/images/noise.png'); color: black; }
      .brown { background: #996633 url('/images/noise.png'); }
      .green { background: #336633 url('/images/noise.png'); color: white }
      .green a, .brown a { color: #FFFFFF; }
      .green a:hover, .brown a:hover { color: #CCCCCC; }

      h4 { text-size: 125%; }

      .container-narrow {
        margin: 0 auto;
        max-width: 700px;
      }

      .movie {
        padding: 20px 2px 0 2px;
        margin: 60px 0;
        text-align: center;
      }
      .movie h1 {
        font-size: 72px;
        line-height: 1;
        display: inline-block;
        width: 100%;
      }

      .list_container {
        margin: 10px auto;
      }

      .list {
        text-align: center;
      }
      .list ol {
        display: inline-block;
        text-align: left;
      }
      .list li {
        margin-top: 2px;
      }

      #pictures p {
        text-align: left;
      }

      .footer {
        padding-bottom: 40px;
        padding-top: 20px;
      }

      /** Fix the polaroid frames on iPhones **/
      @media only screen and (max-width: 479px) {
        .img-polaroid {
          padding: 0
        }
        #decoration {
          display: none;
        }
      }

    </style>
    <link href="/stylesheets/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="/images/xmas_tree/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/xmas_tree/144.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/xmas_tree/114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/xmas_tree/72.png">
    <link rel="apple-touch-icon-precomposed" href="/images/xmas_tree/57.png">
  </head>

  <body class="color red">
      <div class="movie">
        <div class="container-narrow">
          <h1>Merry Christmas!</h1>
          <br />
          <br />
          <iframe width="640" height="360" src="http://www.youtube.com/embed/h4EK2bskN3M?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>

      <div class="color green">

        <div class="container-narrow">
          <h4>Our Top Five Videos</h4>
          <p>Our favorite videos of 2012.</p>

          <div class="row-fluid list_container">
            <div id="decoration" class="span3">
              <img class="img-polaroid" src="http://farm9.staticflickr.com/8202/8233717444_46b969cc37.jpg" />
              <p><small>The 2012 Philadelphia Thanksgiving Day Parade.</small></p>
            </div>

            <div class="span6 list">
              <ol>
                <li><a href="https://www.youtube.com/watch?feature=player_detailpage&v=WA4iX5D9Z64">Taylor Swift - Never Getting Back Together</a></li>
                <li><a href="https://www.youtube.com/watch?list=FLdRZMPbNDDL7MZWET3fk5Ig&feature=player_detailpage&v=Z447qc4ZRRA">We Are Never Ever Gunna Win With Andy</a></li>
                <li><a href="https://www.youtube.com/watch?feature=player_detailpage&v=R4em3LKQCAQ">Justin Bieber - As Long as You Love Me</a></li>
                <li><a href="https://www.youtube.com/watch?feature=player_detailpage&v=-qTIGg3I5y8&list=FLdRZMPbNDDL7MZWET3fk5Ig">Cookie Monster - Share It Maybe</a></li>
                <li><a href="https://www.youtube.com/watch?feature=player_detailpage&v=-qTIGg3I5y8&list=FLdRZMPbNDDL7MZWET3fk5Ig">Hot Cheetos & Takis</a></li>
              </ol>
            </div>

            <div id="decoration" class="span3">
              <img class="img-polaroid" src="http://farm9.staticflickr.com/8458/8045532281_55fc70ea69.jpg" />
              <p><small>Kayla and Mom at Walt Disney World.</small></p>
            </div>
          </div>

          <hr />

          <h4>Our Top Five Web Sites</h4>
          <p>We had the most fun this year wasting time on these web sites.</p>

          <div class="row-fluid list_container">
            <div id="decoration" class="span3">
              <img class="img-polaroid" src="http://farm9.staticflickr.com/8202/8233717444_46b969cc37.jpg" />
              <p><small>The 2012 Philadelphia Thanksgiving Day Parade.</small></p>
            </div>

            <div class="span6 list">
              <ol>
                <li><a href="http://www.jibjab.com/">Jib Jab</a></li>
                <li><a href="http://www.lego.com/">Lego</a></li>
                <li><a href="http://www.barbie.com/">Barbie</a></li>
                <li><a href="http://www.sesamestreet.org/games">Sesame Street Games</a></li>
                <li><a href="http://video.disney.com/shows/wheres-my-water-4c886a2dc7577196f90dc16c">Swampy's Underground Adventures</a></li>
              </ol>
            </div>

            <div id="decoration" class="span3">
              <img class="img-polaroid" src="http://farm9.staticflickr.com/8458/8045532281_55fc70ea69.jpg" />
              <p><small>Kayla and Mom at Walt Disney World.</small></p>
            </div>
          </div>
        </div>

      </div>

      <div id="pictures" class="row-fluid yellow">
        <div class="container-narrow">
          <div class="span12">
            <h3>Our Favorite Memories of 2012</h3>
            <p>We had lots of fun this year, but a fw moments stick out.</p>

            <div class="row-fluid">
              <div class=span3>
                <img class="img-polaroid" src="http://farm9.staticflickr.com/8202/8233717444_46b969cc37.jpg" />
                <p><small>The 2012 Philadelphia Thanksgiving Day Parade.</small></p>
              </div>

              <div class=span3>
                <img class="img-polaroid" src="http://farm9.staticflickr.com/8322/8045539654_96c858e438.jpg" />
                <p><small>Lindsey in Walt Disney World.</small></p>
              </div>

              <div class=span3>
                <img class="img-polaroid" src="http://farm9.staticflickr.com/8458/8045532281_55fc70ea69.jpg" />
                <p><small>Kayla and Mom at Walt Disney World.</small></p>
              </div>

              <div class=span3>
                <img class="img-polaroid" src="http://farm9.staticflickr.com/8066/8232604935_6e299df7ba.jpg" />
                <p><small>Hiking the McKaig trail.</small></p>
              </div>

              <div class=span3>
                <img class="img-polaroid" src="http://farm9.staticflickr.com/8066/8232604935_6e299df7ba.jpg" />
                <p><small>Hiking the McKaig trail.</small></p>
              </div>

              <div class=span3>
                <img class="img-polaroid" src="http://farm9.staticflickr.com/8066/8232604935_6e299df7ba.jpg" />
                <p><small>Hiking the McKaig trail.</small></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="footer brown">
        <div class="container-narrow">
          <p>&copy; KayLou Dsigns 2012</p>
          <p>Graciously hosted by <a href='/'>Dad</a> and build with help from the following tools:</p>
          <ul>
            <li><a href="http://twitter.github.com/bootstrap/">Twitter Bootstrap</a></li>
            <li><a href="http://www.gettyicons.com/free-icon/101/christmas-icon-set/">Icon Shock Christmas Set</a></li>
          </ul>
        </div>
      </div>

      <script src="/javascripts/jquery-1.8.3.min.js"></script>
      <script src="/javascripts/jquery.fitvids.js"></script>
      <script src="/javascripts/jquery.fittext.js"></script>
      <script>
        $(document).ready(function(){
          // Target your .container, .wrapper, .post, etc.
          $(".movie").fitVids();
          $(".movie h1").fitText();
          $("body").css( 'padding', '0' ); // Overide Bootstrap
        });
      </script>
    </div> <!-- /container -->
  </body>
</html>
