html {
  margin-bottom: 0;
  padding-bottom: 0;
}

body {
  background: #018CB4 url('/images/noise.png');
  color: white;
}

header {
  text-align:center;
}

footer {
  background-color: #78888F;
  margin-bottom: -10px;
  padding-bottom: 5px;
  border-top: solid 2px #696969;
}

.top-5 {
  text-align: center;
}

.top-5 h3 {
  font-size: 150%;
  text-align:center;
}

#photo_album h2 {
  border-bottom: solid 1px white;
  padding-bottom: 4px;
  font-size: 225%;
}

/** Fix the header on iPhones **/
@media only screen and (min-width: 480px) and (max-width: 767px),
only screen and (max-width: 479px) {
  #photo_album h2 {
    font-size: 145%;
    text-align: center;
  }
}
a {
	color: white;
	text-decoration: none;
}

a:hover {
	color: white;
	text-decoration: underline;
  text-size: 110%
}

.list {
  text-align: center;
}

.list ol {
  display: inline-block;
  text-align: left;
}

.list li {
  margin-top: 6px;
}

#web_sites {
  margin-left: -115px;
}
