html {
  margin-bottom: 0;
  padding-bottom: 0;
}

body {
  background: #848484 url('/images/noise.png');
  color: white;
}

header {
  text-align:center;
}

footer {
  background-color: rgba(255, 255, 255, .25);
  border-top: solid rgba(255, 255, 255, .50) 1px;
}

#favorites .top-5 {
  text-align: center;
  background-color: rgba(255, 255, 255, .20);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.top-5 h3 {
  font-size: 150%;
  text-align:center;
  border-bottom: solid 1px rgba(247,243,242,0.35);
  padding: 10px 15px 5px 15px;
  width: 90%;
  margin: 5px auto;
}

#photo_album h2 {
  border-bottom: solid 1px rgba(247,243,242,0.70);
  padding-bottom: 4px;
  font-size: 225%;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: underline;
  text-size: 110%
}

.list {
  text-align: center;
}

.list ol {
  display: inline-block;
  text-align: left;
}

.list li {
  margin-top: 6px;
  font-size: 110%
}

.thumbnail h3 { 
  text-align: center;
  font-size: 180%;
  margin-bottom: 3px;
}

.caption p {
  margin-left: 17px;
}

.thumbnail {
  background: white;
  color: black;
  padding: 2px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: solid 1px white;
}

/** Fix the header on iPhones **/
@media only screen and (min-width: 480px) and (max-width: 767px),
only screen and (max-width: 479px) {
  #photo_album h2 {
    font-size: 145%;
    text-align: center;
  }

  .top-5 h3 {
    font-size: 140%;
    text-align:center;
  }

  .caption h3 {
    font-size: 155%
  }

  .thumbnail {
    margin-bottom: 8px;
  }
}

/** Fix the header on iPads **/
@media only screen and (max-height: 768px) and (max-width: 1024px) {
  .top-5 h3 {
    font-size: 125%;
  }

  .caption h3 {
    font-size: 155%;
    font-weight: bolder;
  }
}
