<div class="four columns">
  <div class="thumbnail">
    <img src="{{url}}" alt="{{title}}" class="u-max-full-width">
    <div class="caption">
      <h3>{{title}}</h3>
      <p>{{cap}}</p>
    </div>
  </div>
</div>
